<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>renthub.in</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <meta name="google-signin-client_id" content="452772637773-61ablseaj861narh01j83f875ifdv7qo.apps.googleusercontent.com">
    <script src="/js/google.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript">
      $(document).ready(function(){
          $("#target").hide();
          $("#toggle").click(function(e){
          $("#target").toggle();
    });
});
    </script>
    <script>
      function openDialog() {
        Avgrund.show( "#default-popup" );
      }
    </script>
    <script src="/js/main.js"></script>
  </head>
  <body>
    <header>
    <h1 class="title">Rental-<span>MarketPlace</span>.in</h1>
    <div class="g-signin2" data-onsuccess="onSignIn"></div>
    <div class="g-loginData">
      <img id="g-loginPic" class="image-cirlce"> 
      <h4 id="g-accountDisplayName"></h4>
      <h4 id="g-emailAddress"></h4>
      <a href="#" onClick="signOut()">SignOut</a>
    </div>
  </header>
    <main>
    <div class="main-container">
    <div class="container">
      <fieldset>
        <form action="/search" method="post">
          <input type="text" name="search" class="ghost-input" placeholder="Search" required>
          <input type="submit" class="ghost-button" value="Search">
        </form>
      </fieldset>
    </div>
    <div>
      <button id="toggle">Post an Ad ?</button>
    </div>
      <div id="target">
      <fieldset>
        <form id="post-form" action="/" method="post">
          <input type="text" name="title" class="post-ghost-input" placeholder="Title" required>
          <input type="text" name="description" class="post-ghost-input" placeholder="A little bit of description" required>
          <input type="text" name="pincode" class="post-ghost-input" placeholder="Pincode" required>
          <input type="text" name="address" class="post-ghost-input" placeholder="Address" required>
          <input type="submit" class="post-button" value="Post the Ad">
        </form>
      </fieldset>
      </div>
    <article>
      <% for(var i=0; i<postList.length; i++) { %>
      <section>
        <div class="container">
          <h1><%= postList[i].title %></h1>
          <a href="" data-id="<%= postList[i]._id %>" class="delete">delete</a>
          <a href="" data-id="<%= postList[i]._id %>" class="edit">edit</a>
          <p><%= postList[i].description %></p>
          <h4><%= postList[i].pincode %></h4>
          <h4><%= postList[i].address %></h4>
          <!--reply-button is hidden by default till user login-->
          <button class="reply-button">Reply</button><br>
          <!--reply class is hidden by default-->
          <div class="reply-block">
            <textarea rows="4" cols="50"></textarea><br>
            <button class="reply-submit" data-id="<%= postList[i]._id %>">send</button>
            <button class="reply-cancel">cancel</button>
          </div>
        </div>
      </section>
      <% } %>
    </article>
  </div>
  </main>
  </body>
</html>